<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">

	<!-- LOGO -->
	<div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/admin/media/logos/svg/logo-sauneo-sm.svg" alt="°SAUNEO | Vypotíme to za Vás!" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/admin/media/logos/svg/logo-sauneo.svg" alt="°SAUNEO | Vypotíme to za Vás!" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="assets/admin/media/logos/svg/logo-sauneo-sm.svg" alt="°SAUNEO | Vypotíme to za Vás!" width="75">
            </span>
            <span class="logo-lg">
                <img src="assets/admin/media/logos/svg/logo-sauneo.svg" alt="°SAUNEO | Vypotíme to za Vás!" width="150">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

	<div id="scrollbar">
		<div class="container-fluid">

			<div id="two-column-menu"></div>
			<ul class="navbar-nav" id="navbar-nav">

				<li class="menu-title"><span>Správa</span></li>

                <!-- begin::Language -->
                <li class="nav-item">
                    <a href="#sidebarLanguage" title="{{ 'menu.languages'|trans({}, 'language') }}" class="nav-link menu-link collapsed{{ app.request.attributes.get("_route") matches '/(app_admin_language)([\\w]+)/' ? ' active' : '' }}" data-bs-toggle="collapse" role="button" aria-expanded="{{ app.request.attributes.get("_route") matches '/(app_admin_language)([\\w]+)/' ? 'true' : 'false' }}" aria-controls="sidebarLanguage">
                        <i class="mdi mdi-identifier"></i> <span>{{ 'menu.languages'|trans({}, 'language') }}</span>
                    </a>
                    <div class="menu-dropdown collapse{{ app.request.attributes.get("_route") matches '/(app_admin_language)([\\w]+)/' ? ' show' : '' }}" id="sidebarLanguage">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('app_admin_language_index') }}" title="{{ 'menu.overview'|trans({}, 'language')|lower }}" class="nav-link{{ app.request.attributes.get("_route") matches '/(app_admin_language)([\\w]+)/' ? ' active' : '' }}">{{ 'menu.overview'|trans({}, 'language')|lower }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- end::Language -->

                <!-- begin::Project -->
                <li class="nav-item">
                    <a href="#sidebarProject" title="{{ 'menu.projects'|trans({}, 'project') }}" class="nav-link menu-link collapsed{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' active' : '' }}" data-bs-toggle="collapse" role="button" aria-expanded="{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? 'true' : 'false' }}" aria-controls="sidebarProject">
                        <i class="mdi mdi-identifier"></i> <span>{{ 'menu.projects'|trans({}, 'project') }}</span>
                    </a>
                    <div class="menu-dropdown collapse{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' show' : '' }}" id="sidebarProject">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{{ path('app_admin_project_index') }}" title="{{ 'menu.overview'|trans({}, 'project')|lower }}" class="nav-link{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' active' : '' }}">{{ 'menu.overview'|trans({}, 'project')|lower }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_admin_project_api_index') }}" title="{{ 'menu.api'|trans({}, 'project')|lower }}" class="nav-link{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' active' : '' }}">{{ 'menu.api'|trans({}, 'project')|lower }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_admin_project_contact_index') }}" title="{{ 'menu.contact'|trans({}, 'project')|lower }}" class="nav-link{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' active' : '' }}">{{ 'menu.contact'|trans({}, 'project')|lower }}</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_admin_project_text_index') }}" title="{{ 'menu.text'|trans({}, 'project')|lower }}" class="nav-link{{ app.request.attributes.get("_route") matches '/(app_admin_project)([\\w]+)/' ? ' active' : '' }}">{{ 'menu.text'|trans({}, 'project')|lower }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- end::Project -->

			</ul>
		</div>
		<!-- Sidebar -->
	</div>

	<div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>
