{% extends 'admin/base.html.twig' %}

{% block body_content %}

    <div class="row mb-4">

        <div class="col-lg-12">

            {{ form_start(form) }}

                {{ include('admin/project_text/_form.html.twig') }}

                <div class="float-start">
                    <button class="btn btn-success">{{ 'action.save'|trans }}</button>
                    <a href="{{ path('app_admin_project_text_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
                </div>

            {{ form_end(form) }}

        </div>

    </div>
    
{% endblock %}

{% block body_javascript %}

    {{ parent() }}
    
    {{ include('admin/inc/body-javascript/tinymce.html.twig') }}

{% endblock %}

{% block body_javascript_function %}

    {{ parent() }}

    var inputTinyMCE = 'project_text_description';
    {{ include('admin/inc/body-javascript-function/tinymce.html.twig') }}

{% endblock %}
