{% set lang = app.request.getLocale() %}
{% set locale = 'cs_CZ' %}
{% set BASE = twig_base %}

{{ include('admin/partials/main.html.twig') }}

    <head>

        {{ include('admin/partials/title-meta.html.twig', {title: pageTitle}) }}

        {{ include('admin/partials/head-css.html.twig') }}

        {% block head_css %}{% endblock %}

        {% block head_stylesheet %}{% endblock %}

		{% block head_javascript %}{% endblock %}

        <base href="{{ BASE }}">
        
    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">

            {{ include('admin/partials/menu.html.twig') }}

            <div class="main-content">

                <div class="page-content">

                    <div class="container-fluid mb-4">

                        {{ include('admin/partials/page-title.html.twig', {pagetitle: page, title: pageTitle}) }}

                        <!-- begin::Flash messages -->
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <!-- end::Flash messages -->

                        {% block body_content %}



                        {% endblock %}
                        
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- End Page-content -->

                {{ include('admin/partials/footer.html.twig') }}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->



        {{ include('admin/partials/customizer.html.twig') }}

        {{ include('admin/partials/vendor-scripts.html.twig') }}

        <!-- App js -->
        <script src="assets/admin/js/app.js"></script>
        <!-- password-addon init -->
        <script src="assets/admin/js/pages/password-addon.init.js"></script>
        
        {% block body_javascript %}
        
            <script src="assets/admin/src/node_modules/jquery/dist/jquery.min.js" referrerpolicy="origin"></script>

        {% endblock %}

        <!--begin::Javascript-->
		{% block wrapper_body_javascript_functions %}

			<script type="text/javascript">

				{% block body_javascript_functions %}



                {% endblock %}

            </script>

		{% endblock %}
		<!--end::Javascript-->

		<!--start::Document ready-->
		{% block wrapper_body_javascript_document_ready %}

        <script type="text/javascript">

				$(document).ready(function() {

					{% block body_javascript_document_ready %}



                    {% endblock %}

				});

			</script>

		{% endblock %}
		<!--end::Document ready-->

    </body>

</html>