{% extends 'admin/blank.html.twig' %}

{% block body_content %}

	{{ parent() }}

	<div class="auth-page-wrapper pt-5">

		<!-- auth page bg -->
		<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
			<div class="bg-overlay"></div>

			<div class="shape">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 1440 120">
					<path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
				</svg>
			</div>
		</div>

		<!-- auth page content -->
		<div class="auth-page-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center mt-sm-5 mb-4 text-white-50">
							<div>
								<a href="/" class="d-inline-block auth-logo">
									<img src="assets/admin/media/logos/svg/logo-sauneo.svg" alt="" width="150">
								</a>
							</div>
							<p class="mt-3 fs-15 fw-medium">Vypotíme to za Vás!</p>
						</div>
					</div>
				</div>
				<!-- end row -->

				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6 col-xl-5">
						<div class="card mt-4">

							<div class="card-body p-4">

								{% if not app.user %}
									<div class="text-center mt-2">
										<h5 class="text-primary">{{ 'header.login'|trans([], 'security') }}</h5>
										<p class="text-muted">{{ 'text.you_must_login_to_continue'|trans([], 'security') }}</p>
									</div>
								{% endif %}
								
								<div class="p-2 mt-4">

									<form action="{{ path('app_admin_login') }}" method="post">

										{% if error %}

											<div class="alert alert-danger">{{ error.messageKey }}</div>

										{% endif %}

										{% if app.user %}

											<div class="mb-3 text-center">
												<p>{{ 'text.logged_in_as'|trans([], 'security') }} <a href="{{ path('app_admin_logout') }}" title="{{ 'text.log_out'|trans([], 'security') }}">{{ app.user.userIdentifier }}</a></p>
												<p><a href="{{ path('app_admin_dashboard') }}" title="{{ 'menu.dashboard'|trans([], 'dashboard') }}">{{ 'menu.dashboard'|trans([], 'dashboard') }}</a></p>
											</div>

										{% else %}

											<div class="mb-3">
												<label for="username" class="form-label">{{ 'label.email'|trans([], 'security') }}</label>
												<input type="email" id="username" name="_username" value="{{ lastUsername }}" placeholder="{{ 'placeholder.email'|trans([], 'security') }}" class="form-control" autocomplete="email" required autofocus>
											</div>

											<div class="mb-3">
												<div class="float-end">
													<a href="#" title="{{ 'text.forgot_password'|trans([], 'security') }}" class="text-muted">{{ 'text.forgot_password'|trans([], 'security') }}</a>
												</div>
												<label class="form-label" for="password">{{ 'label.password'|trans([], 'security') }}</label>
												<div class="position-relative auth-pass-inputgroup mb-3">
													<input type="password" id="password" name="_password" class="form-control pe-5 password-input" placeholder="{{ 'placeholder.password'|trans([], 'security') }}" autocomplete="current-password" required>
													<button type="button" id="password-addon" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon">
														<i class="mdi mdi-eye align-middle"></i>
													</button>
												</div>
											</div>

											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="remember-me" name="_remember_me">
												<label class="form-check-label" for="remember-me">{{ 'label.remember_me'|trans([], 'security') }}</label>
											</div>

											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											<div class="mt-4">
												<button class="btn btn-success w-100" type="submit">{{ 'action.log_in'|trans([], 'security') }}</button>
											</div>

										{% endif %}

									</form>

								</div>
							</div>
							<!-- end card body -->
						</div>
						<!-- end card -->

						<div class="mt-4 text-center">
							<p class="mb-0">{{ 'text.dont_have_an_account'|trans([], 'security') }}? 
								<a href="#" title="{{ 'sign up'|trans }}" class="fw-semibold text-primary text-decoration-underline">
									{{ 'text.sign_up'|trans([], 'security') }}
								</a>
							</p>
						</div>

					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end auth page content -->

		<!-- footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<p class="mb-0 text-muted">&copy;2013-<script>document.write(new Date().getFullYear())</script> °SAUNEO</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end Footer -->

	</div>
	<!-- end auth-page-wrapper -->

{% endblock %}