<div class="form-errors">
	{{ form_errors(form) }}
</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.basic_data'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
				{{ form_row(form.piName) }}
			</div>

            <div class="col-12">
				{{ form_row(form.piPhone) }}
			</div>

            <div class="col-12">
				{{ form_row(form.piMobile) }}
			</div>

            <div class="col-12">
				{{ form_row(form.piFax) }}
			</div>

            <div class="col-12">
				{{ form_row(form.piEmail) }}
			</div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.publication'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
                {{ form_row(form.project) }}
            </div>

        </div>

    </div>

</div>