{% extends 'admin/base.html.twig' %}

{% block head_css %}

    {{ parent() }}

    {{ include('admin/inc/head-css/datatables.html.twig') }}

{% endblock %}

{% block head_stylesheet %}

    {{ parent() }}

    {{ include('admin/inc/head-stylesheet/datatables.html.twig') }}

{% endblock %}

{% block body_content %}

    <div class="card">

        <div class="card-body">

            <div id="data-table">{{ 'status.loading_data'|trans }}...</div>

        </div>
        
    </div>

    <a href="{{ path('app_admin_project_contact_new') }}" title="{{ 'action.create_new_project_contact'|trans({}, 'project') }}" class="btn btn-success">{{ 'action.create_new_project_contact'|trans({}, 'project') }}</a>
    
{% endblock %}

{% block body_javascript %}

    {{ parent() }}

    {{ include('admin/inc/body-javascript/datatables.html.twig') }}

{% endblock %}

{% block body_javascript_document_ready %}

    {{ parent() }}

    {{ include('admin/inc/body-javascript-document-ready/datatables.html.twig') }}

{% endblock %}
